<div class="page2">
  <div class="creating">
<%= form_for([@project, @project.tasks.build]) do |f| %>
<%= f.text_field :name, placeholder: "New Task", class: "input-group-text"  %>
  <%= f.submit  %>
    <% end %>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
<link rel="stylesheet" href="tasks.scss"></link>
</div>