<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="assets/stylesheets/users.scss">
</head>
<body>
   <form action="">
      <div class="group">
	     <label form=">Имя </label>
		 <input type="text"> </input>
      </div>
	   <div class="group">
      </div>
   </form>
</body>
</html>