
<div class="block">
  <div class="page3">
<div class="forms">
  <%= render 'form', project: @project %>
</div>
 
<div class="links">
  <%= link_to 'Back', projects_path, class: 'btn btn-outline-primary' %>
  </div>
  </div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
  <link rel="stylesheet" href="projects.scss"></link>
 
</div>