// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.task_name {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    margin: 0;

    a {
        text-decoration: none;
        color: white;
        transition: all .4s ease-in-out;

        &:hover {
            opacity: 0.4;
        }
    }
}